+b('empty-placeholder')
  border-radius 8px
  text-align center
  width 100%
  background-color #fff
  padding 48px 15px 48px 24px

  +e('icon') 
    width 63px
    height 64px
    margin 0 auto 10px

  +e('title')
    margin 10px auto 5px
    font-weight 500

  +e('description')
    max-width 500px
    padding 0 10px
    margin 0px auto 20px
    font-size 12px
    font-weight 500
    line-height 16px
    opacity 0.5
    color #171e32
    