+b('flex-table-head')
  display flex
  justify-content space-between
  align-items center
  margin-bottom 12px

  border-bottom solid 1px #f2f2f4;
  padding 10px 12px

  .flex-th
    color #939aac
    font-weight 600
    text-transform uppercase
    letter-spacing 0.36px
    font-size 12px
    line-height 16px