+b('sidebar-logo')
  padding-top 42px
  width 100%
  padding-left 20px
  display flex
  align-items center
  margin-bottom 19px
  color $white

  +m('small')
    padding-left 20px

  &:hover
    color $white

  +e('text')
    letter-spacing -1
    font-size $font-size-large
    font-weight $font-bold
    text-transform uppercase
    padding-left 16px
    transition opacity .1s ease-in
    transition-delay .2s

    +m('small')
      opacity 0
      transition opacity 0s ease-out
      transition-delay 0s

  +e('otn-icon')
    width 30px
    height 30px
    min-width 30px
    min-height 30px