+b('wallet-page')
  width 100%

  .wallet-page-row
    display flex
    margin-bottom 24px

  +e('page-label')
    font-size 28px
    font-weight $font-bold
    letter-spacing -1px
    color $gray-bright

  +e('otnt-to-otn-link')
    margin-left auto
    align-self center