+b('input-default-value')
  position relative

  +e('url')
    position absolute

    right 0
    top 15px
    bottom 0
    margin auto
    margin-right 20px

    +m('disabled')
      pointer-events none
      opacity 0.5
  