+b('enter-password')

  +e('content')
    text-align center

  +e('icon-wrapper')
    color #9597a3

  +e('icon')
    width 54px
    height 66px

  +e('title')
    font-size 18px
    font-weight 500
    margin-top 20px

  +e('text')
    margin-top 4px
    font-size $font-size-small
    font-weight 500
    line-height 16px
    color #8b8e98

  +e('input-wrapper')
    margin-top 20px

  +e('input')
    max-width 260px
    margin 0 auto

  +e('button-wrapper')
    margin-top 20px
    padding-bottom 20px
