+b('detokenization-disabled')
  border-radius 8px
  text-align center
  width 100%
  background-color #fff
  padding 48px 15px 48px 24px

  +e('title')
    margin: 28px auto 8px;
    max-width 366px
    opacity 0.5
    color #313747
    font-size 16px
    font-weight 700
    letter-spacing -0.12px

  +e('description')
    max-width 244px
    margin 0 auto
    opacity 0.5
    color #171e32
    font-size 12px
    font-weight 500
    line-height 16px

  +e('icon')
    width 63px
    height 58px

  +e('action')
    margin-top 30px
    min-width 135px