+b('tokenized-assets-list')
  width 100%

  +e('label')
    display flex
    justify-content space-between
    align-items baseline
    margin-bottom 20px

  +e('label-text')
    font-size 18px
    font-weight $font-medium
    color $gray-bright

  +e('label-link')
    display block

  +e('row')
    display flex
    justify-content space-between
    margin-bottom 28px