html
  box-sizing border-box
*, *:before, *:after
  box-sizing inherit

body, input, textarea, select, button
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

body
  background-color $background-dark
  margin 0
  font-family $font-sf

ul
  padding 0
  margin 0

.main
  color $background-dark

span
  font-family $font-sf

h6
  margin 0

.Select
  position relative

.Select-menu-outer
  padding 8px

input
  transition ease-out .3s
