+b('amount-label')
  display flex
  margin 16px 0 0 auto

  font-size 12px
  font-weight $font-bold
  color rgba(23, 30, 50, 0.5)
  opacity 0.5

  +e('icon')
    width 17px
    height 14px
    margin-right 9px