+b('otn-logo')
  color: $white
  font-family $font-sf
  text-align: center

  +e('icon')
    width: 60px
    height: 60px
    margin-bottom: 20px

  +e('app-name')
    font-weight: $font-bold
    font-size: $font-size-large
    letter-spacing: 2px