+b('copy')
  display inline-block
  padding 0 2px
  line-height 20px
  white-space nowrap
  color $denim-light
  font-size 12px
  font-weight 700
  text-transform uppercase
  transition color .24s ease
  cursor pointer
  &:hover
    color $denim

  +e('icon')
    vertical-align middle
    width 12px
    height 12px
    margin-bottom 1px
    margin-right 8px