$background-dark = #2b3048
$background-white = #f9f9fb

$background-icon = #4d5166

$brand-primary = #00dbd6

$white = #ffffff

$comet = #55586c
$comet-dark = #3f445b

$denim = #1c66ba
$denim-light = #318af0

$fiord = #4c526c

$red-error = #e75a5a

$blue = #5aa6ff

$gray-light-hover = rgba(255, 255, 255, 0.04)
$gray-light = rgba(255, 255, 255, 0.08)
$gray = rgba(255, 255, 255, 0.2)
$gray-middle = rgba(255, 255, 255, 0.25)
$gray-heavy = rgba(255, 255, 255, 0.5)
$gray-bright = #313747

$yellow = #ffe782

$button-light = rgba(48, 138, 240, 0.1)
$button-light-hover = rgba(48, 138, 240, 0.2)
$button-light-border = rgba(48, 138, 240, 0.3)

$modal-background-shadow = rgba(46, 38, 78, 0.05)
$modal-header = #171e32
$modal-close-hover = #eaf3fd

$input-border-color = #308af0
