$font-sf = -apple-system,BlinkMacSystemFont, Open Sans;

$font-bold = 700
$font-light = 100
$font-medium = 500
$font-x-medium = 600

$font-size-large = 28px
$font-size-middle = 16px
$font-size-small = 12px