+b('confirmation-box')
  +e('content')
    padding 24px
    border-radius 6px
    margin-bottom 20px
    background-color $background-white

  +e('footer')
    border-top 1px solid #f2f2f4
    padding-top 20px

    display flex
    justify-content flex-end

    +e('button')
      +m('confirm')
        margin-left 8px