+b('external-history')
  +e('date')
    flex-basis 140px
    flex-shrink 1

  +e('asset')
    flex-basis 140px
    flex-shrink 1

  +e('type')
    flex 1

  +e('amount')
    flex-basis 200px
    text-align right
