+b('url')
  color: $denim-light
  text-decoration: none
  text-transform uppercase

  font-family: $font-sf
  font-weight: $font-bold
  font-size: $font-size-small
  opacity: 0.9
  letter-spacing: -0.09px

  &:focus
    outline none

  &:hover
    color: $denim