+b('fee-percentage')
  font-size 14px
  font-weight $font-medium

  +e('label')
    color #171e32

  +e('value')
    color rgba(23, 30, 50, 0.5)
    margin-left 4px

  +e('spinner')
    .spinner__icon
      height 12px
      width 10px
